.v-application {
    font-family: Nunito, sans-serif !important;
}

.v-btn {
    text-transform: none !important;
}

html {
    overflow-y: auto !important;
}

/* После адаптации интерфейса под более низкие разрешения, изменить min values */
/*html, body {
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 360px;
    background: #ECECF9;
}

html, body, div, table, p {
    font-family: Inter-Regular, "Roboto", sans-serif;
}

h1, h2, h3, h4, label {
    font-family: Inter-Medium, "Roboto", sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
}

h2 {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

table {
    font-size: 14px;
    line-height: 17px;
}

.h1 {
    font-family: Inter-Medium, sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
}

.h2 {
    font-family: Inter-Medium, sans-serif;
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
}

.h4 {
    font-family: Inter-Medium, sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}

.p-14-medium {
    font-family: Inter-Medium, sans-serif;
    font-size: 14px;
}

.p-14-regular {
    font-family: Inter-Regular, sans-serif;
    font-size: 14px;
}

.p-14-light {
    font-family: Inter-Light, sans-serif;
    font-size: 14px;
}

.p-12-regular {
    font-family: Inter-Regular, sans-serif;
    font-size: 12px;
}

.cursor-pointer {
    cursor: pointer
}

.fill-layout {
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden;
}

@font-face {
    font-family: Inter-ExtraBold;
    src: url(assets/fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: Inter-Medium;
    src: url(assets/fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(assets/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter-Light;
    src: url(assets/fonts/Inter-Light.ttf);
}*/
